.list {
  display: flex;
  flex-direction: column;
  list-style-position: outside;
  width: 100%;
  margin: 1em;
}
ul.list {
  list-style-type: circle;
}
ol.list {
  list-style-type: decimal;
}
.list > li {
  display: grid;
  grid-template-columns: 1fr 2em;
  width: min-content;
  padding: 0.25em;
  margin: 1em;
}

.listValue {
  width: 1fr;
  text-align: start;
  align-content: center;
}
.deleteButton {
  width: 2em;
  height: 2em;
  color: red;
  text-align: center;
  border-style: none;
  border-radius: 1em;
  margin-inline-start: 1em;
  padding: 0.25em;
}

.deleteButton:hover {
  color: white;
  background-color: red;
  border-color: darkred;
  border-style: solid;
  border-radius: 50%;
  font-weight: bold;
}
