.list {
  list-style-type: decimal;
  font-weight: bold;
  background-image: linear-gradient(orangered, orange);
  padding: 1em;
  color: white;
  border-radius: 2em;
  font-weight: bold;
  text-align: center;
}
